<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>nombres</th>
      <td mat-cell *matCellDef="let row">{{row.nombres}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>apellidos</th>
      <td mat-cell *matCellDef="let row">{{row.apellidos}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>fecha</th>
      <td mat-cell *matCellDef="let row">{{row.fecha | date}}</td>
    </ng-container>
    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>hora</th>
      <td mat-cell *matCellDef="let row">{{row.hora}}</td>
    </ng-container>
    <ng-container matColumnDef="nomDoctor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>nomDoctor</th>
      <td mat-cell *matCellDef="let row">{{row.nomDoctor}}</td>
    </ng-container>
    <ng-container matColumnDef="apeDoctor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>apeDoctor</th>
      <td mat-cell *matCellDef="let row">{{row.apeDoctor}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
