<section class="container">
  <h1>Pagar Cita en Óptica Luz</h1>

  <form [formGroup]="pagoForm" class="pagoForm" (ngSubmit)="onSubmit()">
    <section class="data">
      <section>
        <div class="form-group">
          <label for="monto">Monto a Pagar:</label>
          <input type="text" class="form-control" id="monto" formControlName="monto" required>
        </div>

        <div class="form-group">
          <label for="optico">Óptico:</label>
          <input type="text" class="form-control" id="optico" formControlName="optico" required>
        </div>

        <div class="form-group">
          <label for="nombreOptica">Nombre de la Óptica:</label>
          <input type="text" class="form-control" id="nombreOptica" formControlName="nombreOptica" required>
        </div>
      </section>

      <section>
        <!-- Método de Pago (sección informativa) -->
        <div class="form-group">
          <h4>Método de Pago:</h4>
          <p>Tarjeta de débito/crédito</p>
        </div>

        <!-- Campos para completar el pago -->
        <div class="form-group">
          <label for="nombreTitular">Nombre del Titular:</label>
          <input type="text" class="form-control" id="nombreTitular" formControlName="nombreTitular" required>
        </div>

        <div class="form-group">
          <label for="numeroTarjeta">Número de Tarjeta:</label>
          <input type="text" class="form-control" id="numeroTarjeta" formControlName="numeroTarjeta" required>
        </div>

        <div class="form-group">
          <label for="fechaExpiracion">Fecha de Expiración:</label>
          <input type="text" class="form-control" id="fechaExpiracion" formControlName="fechaExpiracion" required>
        </div>

        <div class="form-group">
          <label for="cvv">CVV:</label>
          <input type="text" class="form-control" id="cvv" formControlName="cvv" required>
        </div>

      </section>
    </section>

    <button type="submit" class="btn btn-primary" [disabled]="pagoForm.invalid">Pagar</button>
  </form>
</section>