<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt-4 justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mb-4">Regístrate aquí</h1>
                <form (ngSubmit)="formSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Información personal</h3>
                            <mat-form-field class="full-width">
                                <mat-label>Nombres</mat-label>
                                <input required [(ngModel)]="user.nombres" name="nombres" matInput placeholder="Digite sus nombres">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <mat-label>Apellidos</mat-label>
                                <input required [(ngModel)]="user.apellidos" name="apellidos" matInput placeholder="Digite sus apellidos">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <mat-label>DNI</mat-label>
                                <input required [(ngModel)]="user.dni" name="dni" matInput placeholder="Digite su número de DNI">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <mat-label>Género</mat-label>
                                <mat-select required [(ngModel)]="user.genero" name="genero">
                                    <mat-option value="Masculino">Masculino</mat-option>
                                    <mat-option value="Femenino">Femenino</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <mat-label>Teléfono</mat-label>
                                <input required [(ngModel)]="user.telefono" name="telefono" matInput placeholder="Digite su teléfono">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <mat-label>Dirección</mat-label>
                                <input required [(ngModel)]="user.direccion" name="direccion" matInput placeholder="Escriba su dirección">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <h3>Información de sesión</h3>
                            <mat-form-field class="full-width">
                                <mat-label>Correo</mat-label>
                                <input required [(ngModel)]="user.username" name="username" matInput placeholder="Digite su correo">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <mat-label>Contraseña</mat-label>
                                <input required [(ngModel)]="user.password" name="password" matInput type="password" placeholder="Digite su contraseña">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button mat-raised-button color="primary" class="btn-registrar">Registrar</button>
                        <button mat-raised-button color="accent" class="btn-limpiar" style= "margin-left: 20px;" 
                        type="button" (click)="clearForm()">Limpiar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

