<mat-toolbar color="primary">
  <!-- Botón de inicio (home) o botón de menú -->
  <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
    <a [routerLink]="'/'" mat-icon-button class="example-icon mt20" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </a>
  </ng-container>

  <ng-template #loggedInTemplate>
    <button mat-icon-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-template>

  <!-- Nombre de la aplicación -->
  <span>Optica Yara</span>
  <span class="example-spacer"></span>

  <!-- Opciones del menú o botones de autenticación -->
  <ng-container *ngIf="!isLoggedIn">
    <a [routerLink]="'/login'" mat-button>Iniciar sesión</a>
    <a [routerLink]="'/signup'" mat-button>Registrarse</a>
  </ng-container>

  <ng-container *ngIf="isLoggedIn">
    <button mat-button (click)="logout()">Cerrar sesión</button>
    <span>{{ user.username }}</span>
  </ng-container>
</mat-toolbar>

<!-- Contenido del menú lateral y principal -->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [opened]="!opened">
    <mat-nav-list>
      <a mat-list-item [routerLink]="''" (click)="opened = !opened">Inicio</a>
      <a mat-list-item *ngIf="isLoggedIn && userRole === 'ADMINISTRADOR'" [routerLink]="'/selected-role'" (click)="opened = !opened">Agregar Empleado</a>
      <a mat-list-item *ngIf="isLoggedIn && userRole === 'ADMINISTRADOR'" [routerLink]="'/table-employees'" (click)="opened = !opened">Listar empleados</a>
      <a mat-list-item *ngIf="isLoggedIn && userRole === 'ADMINISTRATIVO'" [routerLink]="'/solicitudes-citas'" (click)="opened = !opened">Solicitudes</a>
      <a mat-list-item *ngIf="isLoggedIn && userRole === 'ADMINISTRATIVO'" [routerLink]="'/dashboard'" (click)="opened = !opened">Registro</a>
      <a mat-list-item *ngIf="isLoggedIn && userRole === ''" [routerLink]="'/solicitar-cita'" (click)="opened = !opened">Solicitar cita</a>
      <a mat-list-item *ngIf="isLoggedIn && userRole === ''" [routerLink]="'/dashboard'" (click)="opened = !opened">Ver Productos</a>
      <!-- Añade más opciones según el rol del usuario -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- El contenido principal de tu aplicación va aquí -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>