<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optica Yara</title>
</head>
<body>
    <div class="banner">
        <div class="container text-center">
            <img src="../../../assets/imagenes/banner_1.jpg">
        </div>
    </div>
    <div class="content mt20">
        <h1 class="container text-center" >Nuestros servicios</h1>
        <div class="section">
            <h2>Solicitar citas en línea</h2>
            <div class="container text-center">
                <img src="../../../assets/imagenes/icono_cita.png">
            </div>
            <p>Ahora puedes solicitar tus citas de manera rápida y sencilla desde nuestra página web. Solo necesitas registrarte y podrás elegir la fecha y hora que más te convenga.</p>
        </div>
        <div class="section">
            <h2>Pagar la Cita en Línea</h2>
            <div class="container text-center">
                <img src="../../../assets/imagenes/icono_pagar_cita.png">
            </div>
            <p>Paga tu cita de forma segura y conveniente a través de nuestra plataforma de pagos en línea. Aceptamos diversas formas de pago para tu comodidad.</p>
        </div>
        <div class="section">
            <h2>Doctores Ópticos Especializados</h2>
            <div class="container text-center">
                <img src="../../../assets/imagenes/icono_optico.png">
            </div>
            <p>En Optica Yara contamos con un equipo de doctores ópticos altamente calificados y con amplia experiencia en el campo de la oftalmología. Conoce más sobre nuestros especialistas.</p>
        </div>
        <div class="section">
            <h2>Visualización de Resultados Oftalmológicos</h2>
            <div class="container text-center">
                <img src="../../../assets/imagenes/icono_resultados.png" style="width: 200px; height: 210px">
            </div>
            <p>Accede a tus resultados oftalmológicos de manera rápida y segura desde nuestra plataforma. Solo necesitas iniciar sesión con tu cuenta y podrás ver tus resultados en cualquier momento.</p>
        </div>
    </div>
    <footer>
        &copy; 2024 Optica Yara. Todos los derechos reservados.
    </footer>
</body>
</html>
