a {
    text-decoration: none;
}

.title {
    display: flex !important;
}
.title img {
    padding: 1.5rem !important;
}
.welcome {
    padding: 0.5rem !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
.welcome h1{
    font-size: 70px !important;
}
.links {
    display: inline-flex !important;
    flex-direction: column !important;
    padding: 0.5rem 1rem !important;
}
.links a {
    margin: 0.5rem !important;
    font-size: 20px !important;
}
.role {
    display: flex !important;
    flex-direction: column !important;
    padding: 0.5rem 1rem !important;
    width: 100%;
}
.contenedor-botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilos de cada botón */
.boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

/* Botón solicitar cita */
.boton-solicitar {
    background-color: #4CAF50; /* Verde */
    color: white;
}

/* Botón ver citas */
.boton-ver {
    background-color: #008CBA; /* Azul */
    color: white;
}

/* Estilo al pasar el mouse sobre los botones */
.boton:hover {
    background-color: #222;
    color: white;
}

.boton i {
    margin: 0.5rem;
}

