<section>
    <form (ngSubmit)="formSubmit()" class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Company (disabled)" disabled value="Datos empelado">
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Dni" name="dni" [(ngModel)]="user.dni">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Género" name="genero" [(ngModel)]="user.genero">
                            <mat-option value="Masculino">Masculino</mat-option>
                            <mat-option value="Femenino">Femenino</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre" name="nombres" [(ngModel)]="user.nombres">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Apellidos" name="apellidos" [(ngModel)]="user.apellidos">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Teléfono" name="telefono" [(ngModel)]="user.telefono">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Dirección" name="direccion" [(ngModel)]="user.direccion">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-label>Fecha de nacimiento</mat-label>
                    <mat-form-field class="example-full-width">
                        <input required name="fecha_nacimiento" matInput type="date" [(ngModel)]="user.fecha_nacimiento">
                    </mat-form-field>
                </td>
            </tr>
        </table>


        <h1>Seleccione el Tipo de Empleado</h1>
        <div class="button-container">
            <button type="button" (click)="onClick('Administrativo')" class="employee-button">
                <i class="fas fa-user-tie"></i>
                <span>Administrativo</span>
            </button>
            <button type="button" (click)="onClick('Vendedor')" class="employee-button">
                <i class="fas fa-user-tag"></i>
                <span>Vendedor</span>
            </button>
            <button type="button" (click)="onClick('Doctor')" class="employee-button">
                <i class="fas fa-user-md"></i>
                <span>Doctor</span>
            </button>
        </div>

        <div class="button-submit">
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>
</section>