<section class="container">
    <h1>Seleccione el Tipo de Empleado</h1>
    <div class="button-container">
        <a href="registro_administrativo.html" class="employee-button">
            <i class="fas fa-user-tie"></i>
            <span>Administrativo</span>
        </a>
        <a href="registro_vendedor.html" class="employee-button">
            <i class="fas fa-user-tag"></i>
            <span>Vendedor</span>
        </a>
        <a href="registro_doctor.html" class="employee-button">
            <i class="fas fa-user-md"></i>
            <span>Doctor</span>
        </a>
    </div>
</section>